* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
    color: rgb(190, 187, 187);
    padding-top: 10px;
    padding-bottom: 10px;
}

h3 {
    color: #ffffff;
}

header {
    background-color: #f2f2f22e;    
    padding: 8px;
    text-align: center;
    color: white;
}

#forBiscuit {
    padding-top: 40px;
    text-align: center;
    color: white;
}

body {
    font-family:'Times New Roman', Times, serif;
    background-color: #451919;
}

main {
    background-color: rgba(0, 0, 0, 0.162);
    padding: 5%;
}

#objective{
    text-align: left;;
    color: white;
    margin-top: 20px;
    margin-right: 60%;
}

#abilities{
    text-align: right;
    color: white;
    margin-top: 20px;
}

#abilities ul{
    text-align: right;;
    direction: rtl;
    list-style-position: inside;
    color: white;
    margin-left: 55%;
}

#certifications{
    text-align: left;
    color: white;
    margin-top: 20px;
}

#certifications ul{
    text-align: left;;
    list-style-position: inside;
    color: white;
    margin-right: 50%;
}

#contact {
    padding: 20px;
    text-align: center;
    color: white;
    margin-top: 50vh;
}

footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

